<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../webjars/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/standard.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <p>Please use the form below to edit your Blog Post:</p>
    <form action="#" th:action="@{'/blog-post/{id}/edit' (id=${blogPost.getId()})}" th:object="${blogPost}" th:method="put">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <input type="text" class="form-control"   th:field="*{title}"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control"   th:field="*{author}"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  th:field="*{post}"/>
        </div>
        <button class="btn btn-primary">Submit Your Post</button>
    </form>

</div>
</body>
</html>