<!DOCTYPE html>


<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/test :: head}"></div>
</head>
<body>
<div class="container">
    <h1>Welcome to Our Blog Post Site!</h1>
    <h3>Check out our blogs!</h3>
    <div th:insert="~{fragments/test :: test}"></div>
    <div class="row">
        <div th:each="blog:${posts}">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel heading">
                        <p th:text="${blog.getTitle()}"/>
                    </div>
                    <div class="panel body">
                        <p th:text="${blog.getAuthor()}" />
                        <p th:text="${blog.getPost()}"/>
                    </div>
                    <div class="panel footer">
                        <a th:href="@{'/blog-post/{id}/edit'(id=${blog.getId()})}"
                           class="btn btn-primary" role="button">Edit Post</a>
                        <form th:action="@{'/blog-post/{id}/delete'(id=${blog.getId()})}" th:method="delete" >
                            <button class="btn btn-primary">Delete Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table>
        <tr>
            <td>
                <a th:href="@{/blog-post/new}" class="btn btn-info" role="button">New Blog Entry</a>
            </td>
        </tr>
    </table>

</div>
<div th:insert="~{fragments/test :: script}"></div>
</body>
</html>